.cumulo-boats {
    padding-top: 40px;

    .refine {
        float: left;
        width: 23%;
        padding-bottom: 40px;

        .search,
        filter {
            margin-bottom: 20px;
        }

        fieldgroup {
            border: 1px solid $gray;
            display: block;
            margin-bottom: 10px;
            padding: 0;
            transition: opacity 0.8s ease;
            opacity: 0.75;

            ul {
                padding: 0;
                margin: 0;
                display: none;

                li {
                    list-style: none;
                    margin: 0;
                    padding: 12px 15px 8px 15px;
                    border-bottom: 1px solid $gray;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:after {
                        content: '';
                        display: table;
                        clear: both;
                    }

                    label {
                        //float: left;
                        width: 100%;
                        display: block;
                        position: relative;
                        top: -1px;
                        cursor: pointer;
                    }

                    input[type="checkbox"] {
                        float: left;
                        cursor: pointer;
                        /* Add if not using autoprefixer */
                        -webkit-appearance: none;
                        /* Remove most all native input styles */
                        appearance: none;
                        /* For iOS < 15 */
                        background-color: transparent;
                        /* Not removed via appearance */
                        margin: 6px 8px 0 0;

                        font: inherit;
                        color: currentColor;
                        width: 16px;
                        height: 16px;
                        border: 1px solid $gray;
                        border-radius: 0;
                        transform: translateY(-0.075em);

                        display: grid;
                        place-content: center;
                    }

                    input[type="checkbox"]:checked {
                        background-color: $black;
                        border-color: $black;
                    }

                    input[type="checkbox"]::before {
                        content: "";
                        width: 0.65em;
                        height: 0.65em;
                        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                        transform: scale(0);
                        transform-origin: bottom left;
                        transition: 120ms transform ease-in-out;
                        box-shadow: inset 1em 1em #fff;
                        /* Windows High Contrast Mode */
                        background-color: #fff;
                    }

                    input[type="checkbox"]:checked::before {
                        transform: scale(1);
                    }

                    //   input[type="checkbox"]:focus {
                    //     outline: max(2px, 0.15em) solid currentColor;
                    //     outline-offset: max(2px, 0.15em);
                    //   }

                    input[type="checkbox"]:disabled {
                        --form-control-color: var(--form-control-disabled);

                        color: var(--form-control-disabled);
                        cursor: not-allowed;
                    }
                }
            }

            h5 {
                cursor: pointer;
                margin: 0;
                background: $white;
                font-size: 16px;
                font-family: Roboto, sans-serif;
                font-weight: bold;
                border-bottom: 1px solid $gray;
                margin-bottom: -2px;
                padding: 0 15px;
                line-height: 52px;
                position: relative;

                &:after {
                    z-index: 2;
                    content: '+';
                    height: 12px;
                    width: 12px;
                    font-size: 12px;
                    text-align: center;
                    line-height: 12px;
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    margin-top: -7px;
                    background: transparent;
                    color: $black;
                    border: 1px solid $black;
                }
            }

            .options-wrap {
                display: none;
            }

            &:hover {
                opacity: 1;
            }

            &.active {
                opacity: 1;

                ul {
                    display: block;
                }

                h5:after {
                    background-color: $black;
                    color: $white;
                    content: '-';
                }

                .options-wrap {
                    display: block;
                    padding: 35px 20px 0 20px;

                    .range-results {
                        padding-top: 25px;
                        padding-bottom: 15px;

                        p {
                            margin-bottom: 0;
                            color: $black;
                            font-size: 14px;
                        }
                    }

                    &.years {
                        padding: 25px 20px 20px 20px;

                        input {
                            width: 46%;
                            margin-right: 6%;
                            padding: 10px 10px;
                            border: 1px solid $gray;
                            background: #fff;
                            display: inline-block;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }

            // $slider-height: 2;
            // $ball-height: 16;

            // .hidden {
            //     position: absolute !important;
            //     left: -999% !important;
            //     top: -999% !important;
            // }

            // .slider-wrap {
            //     padding: 35px 15px 0px 15px;
            //     display: none;
            // }

            // .slider {
            //     position: relative;
            //     width: 100%;
            //     height: #{$slider-height}px;
            //     background-color: #eee;
            //     border-radius: #{ $slider-height * 2 }px;

            //     &__bar {
            //         display: flex;
            //         align-items: center;
            //         background-color: $black;
            //         position: absolute;
            //         top: 0;
            //         bottom: 0;
            //     }

            //     &__ball {
            //         position: absolute;
            //         display: block;
            //         height: #{$ball-height}px;
            //         width: #{$ball-height}px;
            //         border-radius: 50%;
            //         background-color: $black;
            //         transform: scale(1);
            //         transition: transform 100ms ease-in-out;
            //         cursor: pointer;

            //         &#min {
            //             left: calc(0% - 1px);
            //         }

            //         &#max {
            //             right: calc(0% - 1px);
            //         }

            //         &:hover {
            //             transform: scale(1.2);
            //         }
            //     }
            // }
        }

        .filter .searchfield {
            border: 1px solid #b9b9b9;
            display: block;
            margin-bottom: 10px;
            padding: 0;
            line-height: 50px;
            padding: 0 15px;
            font-weight: bold;
            font-size: 16px;
            font-family: Roboto, sans-serif;
        }
    }

    .results-wrap {
        clear: both;

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        .totals {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
            line-height: 16px;
        }
    }

    .pagination {
        text-align: center;
        padding: 40px 0;

        a {
            padding: 10px 14px;
            border-radius: 3px;
            border: 1px solid $black;
            margin: 0 2px;
            color: $black;
            text-decoration: none;
        }

        span.current {
            padding: 10px 14px;
            border-radius: 3px;
            border: 1px solid $black;
            margin: 0 2px;
            background: $black;
            color: #fff;
        }
    }

    .results {
        padding-bottom: 40px;
        float: right;
        width: 72%;

        >ul {
            margin: 0 0 20px 0;
            padding: 0;
            list-style: none;

            >li {
                list-style: none;
                margin-bottom: 20px;
            }
        }

        >ul>li {
            display: flex;
            border: 1px solid $gray;
            background: #fff;
            height: 300px;

            .img {
                width: 450px;
                display: table-cell;
                object-fit: cover;
                background: $gray;
                position: relative;

                img {
                    margin: 0;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    max-width: none;
                    max-height: none;
                }

                .web-status {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    color: #fff;
                    background: $red;
                    padding: 12px 20px;
                    border-radius: 3px;
                    font-size: 12px;
                    line-height: 12px;
                }

                @include max-down(1400px) {
                    width: 40%;
                }
            }

            .info {
                display: table-cell;
                vertical-align: middle;
                padding-left: 20px;
                padding: 30px;
                width: calc(100% - 400px);

                @include max-down(1400px) {
                    width: 60%;
                }
            }

            @include max-down(1000px) {
                display: block;
                height: auto;

                .img,
                .info {
                    width: 100%;
                    display: block;
                    margin-left: 0;
                    margin-right: 0;
                }

                .info {
                    padding: 0;

                    .heading,
                    .details {
                        padding: 40px 35px;
                    }

                    .details {
                        padding-top: 0;
                    }
                }

                .img {
                    height: 240px;
                }
            }
        }
    }

    .sort {
        padding-bottom: 35px;
        position: relative;

        .show-filters {
            display: none;
            border: 1px solid $gray;
            padding: 8px 16px;
            background: #fff;
            font-size: 16px;
            font-size: 12px;
            color: $black;
            line-height: 22px;
            text-decoration: none;
            height: 42px;

            &:before {
                display: inline-block;
                margin-right: 8px;
                height: 14px;
                width: 16px;
                content: '';
                background: transparent url(svg/filter.svg) center center no-repeat;
                background-size: contain;
                position: relative;
                top: 3px;
            }

            @include max-down(1000px) {
                display: inline-block;
                width: 45%;
            }
        }

        .hide-filters {
            display: none;
            position: relative;
            height: 50px;
            background: #fff;

            .close-filters {
                display: block;
                position: absolute;
                top: 0px;
                right: 0px;
                text-align: center;
                height: 26px;
                width: 26px;
                border-radius: 20px;
                font-size: 20px;
                line-height: 22px;
                border: 2px solid $red;
                cursor: pointer;
                text-decoration: none;
            }

            .label {
                //border: 1px solid $gray;
                padding: 8px 16px;
                background: #fff;
                font-size: 16px;
                font-size: 12px;
                color: $black;
                line-height: 22px;
                text-decoration: none;
                height: 42px;
                width: 45%;
                display: inline-block;

                &:before {
                    display: inline-block;
                    margin-right: 8px;
                    height: 14px;
                    width: 16px;
                    content: '';
                    background: transparent url(svg/filter.svg) center center no-repeat;
                    background-size: contain;
                    position: relative;
                    top: 3px;
                }
            }
        }

        &.mobile-filters-shown {

            .show-filters,
            .sortby {
                display: none;
            }

            .hide-filters {
                display: block;
            }
        }

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        .sortby {
            float: right;
            width: 300px;

            select {
                float: right;
                width: 100%;
                border: 1px solid $gray;
                padding: 10px 16px;
                background: #fff;
                font-size: 16px;
                font-size: 12px;
                color: $black;
                line-height: 22px;
                width: 75%;
                height: 42px;
            }

            label {
                float: right;
                width: 25%;
                line-height: 42px;
            }

            @include max-down(1000px) {
                display: inline-block;
                width: 45%;

                label {
                    display: none;
                }

                select {
                    width: 100%;
                }
            }
        }

        .existing {
            float: left;
            width: calc(100% - 320px);
            padding-top: 0px;
            margin-top: -1px;

            @include max-down(1000px) {
                padding-top: 20px;
                width: 100%;
                float: none;
            }

            strong {
                margin-right: 10px;
                font-size: 16px;

                @include max-down(1000px) {
                    display: none;
                }
            }

            a {
                border: 1px solid $gray;
                padding: 10px 12px;
                margin-right: 10px;
                border-radius: 3px;
                font-size: 12px;
                color: #0a1e2f;
                line-height: 22px;
                text-decoration: none;
                display: inline-block;
                margin-bottom: 10px;

                .x {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    line-height: 10px;
                    text-align: center;
                    margin-right: 2px;
                    color: $white;
                    border-radius: 10px;
                    background: $black;
                }

                &:hover {
                    border-color: $black;

                    .x {
                        background-color: $black;
                    }
                }

                &.clear-all {
                    padding-left: 25px;
                    background: url(svg/trash.svg) left 10px center no-repeat;
                    background-size: 10px 10px;
                }
            }
        }
    }

    .choose {
        padding-top: 15px;
    }

    .boats {
        .boat {
            width: 100%;

            ul,
            li {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            a {
                text-decoration: none;
            }

            h2 {
                width: calc(100% - 200px);
                float: left;
                font-size: 24px;
                line-height: 28px;
                min-height: 56px;

                a {
                    color: $black;
                }

                @include max-down(1000px) {
                    width: 100%;
                    float: none;
                    min-height: 0;
                    margin-bottom: 0;
                }
            }

            .call {
                float: right;
                font-size: 22px;
                line-height: 28px;
                color: $black;
                width: 200px;
                text-align: right;
                text-decoration: none;

                &:before {
                    display: inline-block;
                    margin-right: 12px;
                    height: 14px;
                    width: 14px;
                    content: '';
                    background: transparent url(svg/talk.svg) center center no-repeat;
                    background-size: contain;
                    position: relative;
                    top: -1px;
                }

                @include max-down(1000px) {
                    width: 100%;
                    float: none;
                    margin-top: 15px;
                    text-align: left;
                    display: inline-block;
                }
            }

            .heading {
                padding-bottom: 15px;
                margin-bottom: 20px;
                border-bottom: 1px solid $gray;

                &:after {
                    content: '';
                    display: table;
                    clear: both;
                }
            }

            .details {
                padding-bottom: 15px;

                &:after {
                    content: '';
                    display: table;
                    clear: both;
                }

                .content {
                    width: calc(100% - 160px);
                    float: left;
                    font-size: 16px;

                    li {
                        margin-bottom: 2px;
                    }

                    @include max-down(1000px) {
                        width: 100%;
                        float: none;
                        margin-bottom: 25px;
                    }
                }

                .buttons {
                    float: right;
                    font-size: 24px;
                    line-height: 28px;
                    color: $black;
                    width: 160px;
                    text-align: center;

                    a {
                        display: block;
                        margin-bottom: 4px;
                        padding: 20px;
                        font-size: 12px;
                        border: 1px solid $gray;
                        padding: 4px 4px;
                        border-radius: 3px;
                        font-size: 12px;
                        color: $black;
                        line-height: 22px;
                        font-weight: bold;
                        text-decoration: none;

                        &.red {
                            color: $white;
                            background: $red;
                            border-color: $red;

                            &:before {
                                display: none !important;
                            }
                        }

                        &:before {
                            display: inline-block;
                            margin-right: 8px;
                            height: 14px;
                            width: 16px;
                            content: '';
                            background: transparent url(svg/metro.svg) center center no-repeat;
                            background-size: contain;
                            position: relative;
                            top: 3px;
                        }

                        &.email:before {
                            width: 12px;
                            background: transparent url(svg/envelope-dark.svg) center center no-repeat;
                            background-size: contain;
                        }

                        &.value:before {
                            width: 12px;
                            background: transparent url(svg/metro.svg) center center no-repeat;
                            background-size: contain;
                        }

                        &.apply:before {
                            width: 14px;
                            background: transparent url(svg/money.svg) center center no-repeat;
                            background-size: contain;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    @include max-down(1000px) {
                        width: 100%;
                        float: none;
                    }
                }
            }
        }
    }

    @include max-down(1000px) {
        display: block;

        .refine,
        .results {
            width: 100%;
            display: block;
            margin-left: 0;
            margin-right: 0;
        }

        .refine {
            display: none;

            &.shown {
                display: block;
            }
        }
    }
}

.page-boats {
    .container.main-content {
        max-width: 1600px;

        //padding-top: 40px;
        @include max-down(1640px) {
            width: 100%;
            max-width: 100%;
            padding: 0 40px;
        }

        @include max-down(700px) {
            padding: 0 20px;
        }
    }
}

body .mp_boat_search {
    padding-top: 20px;

    input[type=text],
    select {
        display: block !important;
        width: 18.25% !important;
        margin-right: 2% !important;
        color: $white  !important;
        border: 1px solid $white  !important;
        background: transparent !important;
        float: left !important;
        height: 40px !important;
        line-height: 38px !important;
        padding: 0 10px !important;
        float: left !important;
        margin-bottom: 10px !important;
    }

    input[type=text]::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;
    }

    input[type=text]:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
    }

    input[type=text]::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #fff;
    }

    select.type {
        margin-right: 0 !important;
    }

    input[type=submit] {
        clear: both !important;
        margin-top: 10px !important;
    }

    @include max-down(1000px) {

        input[type=text],
        select {
            float: none !important;
            width: 100% !important;
        }
    }
}